In [37]:
import pandas as pd
from pandas_datareader import data
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
symbol = 'AMZN'
start_date = '2010-01-01'
end_date = '2016-01-01'
df = data.get_data_yahoo(symbol, start_date, end_date)
df.sample(10)

In [39]:
df.sample(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-12-23,666.599976,656.630005,666.500000,663.700012,2722900,663.700012
2014-08-28,341.790009,338.799988,340.000000,340.019989,2252700,340.019989
2011-03-14,168.080002,164.570007,166.600006,166.729996,4022000,166.729996
2014-08-29,341.820007,337.679993,341.760010,339.040009,1939500,339.040009
2013-02-28,267.000000,260.630005,261.809998,264.269989,2667200,264.269989
2011-06-21,195.000000,187.119995,188.300003,194.229996,4182600,194.229996
2013-12-03,390.950012,383.100006,390.109985,384.660004,3702900,384.660004
2011-06-27,202.580002,194.029999,194.500000,201.250000,6100700,201.250000
2010-09-28,160.880005,154.889999,159.839996,159.699997,8494200,159.699997
2010-10-14,156.949997,154.229996,155.160004,155.529999,4024100,155.529999